[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=Pipnode Worksheet
Comment=Open a Pipnode worksheet from the panel
Icon=org.pipas.pipnode
X-XFCE-Module=pipnode-worksheet
X-XFCE-Internal=FALSE
X-XFCE-API=2.0
