[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=Pipnode Panel
Comment=Mirror a pipnode worksheet's panel widgets in the panel
Icon=org.pipas.pipnode
X-XFCE-Module=pipnode-xfce-applet
X-XFCE-Internal=FALSE
X-XFCE-API=2.0
