[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=Pipnode Deadline
Comment=Count down to a deadline from the panel
Icon=org.pipas.pipnode
X-XFCE-Module=pipnode-deadline
X-XFCE-Internal=FALSE
X-XFCE-API=2.0
